# PostgreSQL
APP_BASE_URL=http://127.0.0.1:8000
POSTGRES_DB=<db_name>
POSTGRES_DB_PORT=<db_port>
POSTGRES_USER=<db_user>
POSTGRES_PASSWORD=<db_password>
POSTGRES_HOST=<db_host>
# pgAdmin
PGADMIN_DEFAULT_EMAIL=admin@gmail.com
PGADMIN_DEFAULT_PASSWORD=admin
# JWT keys
SECRET_KEY_ACCESS=<secret_key>
SECRET_KEY_REFRESH=<secret_key>
JWT_SIGNING_ALGORITHM=<algorithm>
# MailHog
MAILHOG_USER=admin
MAILHOG_PASSWORD=some_password
# Email settings for MailHog
EMAIL_HOST=mailhog
EMAIL_PORT=1025
EMAIL_HOST_USER=testuser
EMAIL_HOST_PASSWORD=test_password
EMAIL_USE_TLS=False
# Celery
CELERY_BROKER_URL=redis://redis:6379/0
