# PostgreSQL
POSTGRES_DB=<db_name>
POSTGRES_DB_PORT=<db_port>
POSTGRES_USER=<db_user>
POSTGRES_PASSWORD=<db_password>
POSTGRES_HOST=<db_host>
# JWT keys
SECRET_KEY_ACCESS=<secret_key>
SECRET_KEY_REFRESH=<secret_key>
JWT_SIGNING_ALGORITHM=<algorithm>